.react-datepicker-popper {
  z-index: 15;
}

.react-datepicker__input-container {
  padding: 16px 14px;
  border-radius: 8px;
  border: 1px solid #00000080;
  display: flex;
	height: 56px;
}

.react-datepicker-wrapper{
  width: 100%;
}

.datepicker--disabled {
	opacity: 0.5
}

.react-datepicker__close-icon{
  position: static;
  margin-left: 8px;
}

.react-datepicker__close-icon::after{
  font-size: 20px;
  min-width: 24px;
  min-height: 24px;
}
